{% extends 'base.html' %}
{% block title %}
  {{ super() }} - {{ title }}
{% endblock %}
{% block content %}
    <div class="ice_cream">
        <a href="/static/img/мороженное1.jpg">
        <img src="/static/img/мороженное1.jpg" alt="Моё фото" width="150"></a>
        <p>мороженные шарики с различным фруктовым и ягодным вкусом
            придаёт настроение на весь день и не даст расстаять в жаркую погоду</p>
        <a href="/static/img/мороженное2.jpg">
        <img src="/static/img/мороженное2.jpg" alt="Моё фото" width="150"></a>
        <p>насладись различными вкусами, мороженного в рожке, это то что нужно в жаркую погоду</p>
        <a href="/static/img/мороженное3.jpg">
        <img src="/static/img/мороженное3.jpg" alt="Моё фото" width="150"></a>
        <p>мороженное в стаканчике, что может быть лучше классического мороженного в стаканчике с различной начинкой</p>
    </div>
{% endblock %}